In [1]:
import pandas as pd
import geopandas as gpd

# Load hydrography data

In [2]:
hydrography = gpd.read_file("zip://shp_water_dnr_hydrography.zip")

In [4]:
hydrography.head()
for col in hydrography.columns:
    print(col)

fw_id
dowlknum
pw_basin_n
pw_parent_
pw_sub_nam
sub_flag
wb_class
lake_class
acres
shore_mi
center_utm
center_u_1
cty_name
dnr_region
fsh_office
outside_mn
delineated
delineatio
delineat_1
delineat_2
approved_b
approval_d
approval_n
has_flag
flag_type
publish_da
lksdb_basi
has_wld_fl
wld_flag_t
unique_id
created_us
created_da
last_edite
last_edi_1
ow_use
pwi_class
map_displa
map_label
shape_Leng
shape_Area
INSIDE_X
INSIDE_Y
in_lakefin
geometry

In [ ]:
for i in hydrography.is_valid:
    if i == False:
        print("poly is false")

In [3]:
# Locate all invalid gometries and drop them from the dataset
hydro_drop_invalid = hydrography.loc[hydrography['geometry'].is_valid, :]

In [ ]:
for i in hydro_drop_invalid.is_valid:
    if i == False:
        print("poly is false")

# Load 7 county metro

In [ ]:
metro = gpd.read_file("zip://shp_bdry_metro_counties_and_ctus.zip")
metro.plot()

In [ ]:
metro.head()

In [ ]:
metro_dissolve = metro.dissolve(by = "CO_NAME")
metro_dissolve.plot()

In [ ]:
metro_dissolve.is_valid

# Clip hydro to metro

In [ ]:
# Varifying the projections
print(metro_dissolve.crs)
print(hydrography.crs)

In [ ]:
# Checking for invalid polygon geometries since the clip operation did not work
for i in hydrography.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
# https://stackoverflow.com/questions/63955752/topologicalerror-the-operation-geosintersection-r-could-not-be-performed
hydro_valid = hydrography.buffer(0)

In [ ]:
# Checking for invalid polygon geometries since the clip operation did not work
for i in hydro_valid.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
hydro_valid.head()

In [ ]:
hydro_clip = gpd.clip(hydro_drop_invalid, metro_dissolve)

In [ ]:
hydro_clip.plot()

In [ ]:
hydro_lake = hydro_clip.loc[hydro_clip["wb_class"] == "Lake or Pond"]

In [ ]:
hydro_lake.head()

In [ ]:
hydro_clip.head()

#hydro_lake = hydro_clip.loc[hydro_clip["wb_class"] == "Lake or Pond"]
#hydro_lake.plot()

# Load 2014, 2016, 2018 water files

In [ ]:
water2018 = gpd.read_file("zip://impaired_2018_lakes.zip")
water2016 = gpd.read_file("zip://impaired_2016_lakes.zip")
water2014 = gpd.read_file("zip://impaired_2014_lakes.zip")

In [ ]:
water2018.plot()

In [ ]:
for col in water2018.columns:
    print(col)

In [ ]:
water2018 = water2018.drop(["CAT", "CAT_DESC", "REACH_DESC", "USE_CLASS", "AREA_ACRES", "AFFECTED_U", "LIKE_MEET", "NON_POLL", 
                            "NAT_BACK", "ADD_MON", "APPROVED", "NEEDS_PLN", "IMP_PARAM", "NEW_IMPAIR", "HUC_8", "HUC_8_NAME", "HUC_4", "BASIN", 
                            "TRIBAL_INT", "INDIAN_RES", "AMMONIA", "CHLORIDE", "FISHESBIO", "HG_F", "HG_W", 
                            "NUTRIENTS", "PCB_F", "PFOS_F", "Shape_Leng", "Shape_Area"], axis = 1)

In [ ]:
water2018

In [ ]:
for col in water2016.columns:
    print(col)

In [ ]:
water2016 = water2016.drop(["CAT", "DATASET_NA", "REACH_DESC", "USE_CLASS", "AREA_ACRES", "AFFECTED_U", "TMDL_NOT_R", "TMDL_NOT_1", "IMPAIR_PAR", "IMPAIR_P_1", "NEW_IMPAIR", "NEW_IMPA_1", 
                "TMDL_APPRO", "TMDL_APP_1", "TMDL_NEEDE", "TMDL_NEE_1", "HUC_8", "HUC_8_NAME", "HUC_4", 
                "BASIN", "TRIBAL_INT", "INDIAN_RES", "CHLORIDE", "FISHESBIO", "HG_F", "HG_W", 
                "NUTRIENTS", "PCB_F", "PFOS_F", "SHAPE_Leng", "SHAPE_Area"], axis = 1)

In [ ]:
water2016

In [ ]:
for col in water2014.columns:
    print(col)

In [ ]:
water2014 = water2014.drop(["LOCATION", "ACRES", "CAT", "AFFECTED_U", "NOPLN", "APPROVED", "NEEDSPLN", "IMPAIR_PAR", "NEW_2014", 
                "HUC8", "HUC8_NAME", "HUC4", "BASIN", "WDWMO_NAME", "WDWMO_TYPE", "Chloride", 
                "HgF", "HgW", "Nutrients", "PCBF", "PFOS_W", "SHAPE_Leng", "Shape_Le_1", "Shape_Area"], axis = 1)
water2014

In [ ]:
water2014 = water2014.rename(columns = {"WATER_NAME" : "NAME", "ALL_COUNTI" : "COUNTY"})
water2014

# Clipping impaired waters layers to 7 county metro

In [ ]:
# Checking for invalid polygon geometries since the clip operation did not work
for i in water2018.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2018_drop_invalid = water2018.loc[water2018['geometry'].is_valid, :]

In [ ]:
for i in water2018_drop_invalid.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2018_drop_invalid

In [ ]:
for i in water2016.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2016_drop_invalid = water2016.loc[water2016['geometry'].is_valid, :]

In [ ]:
for i in water2016_drop_invalid.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2016_drop_invalid

In [ ]:
for i in water2014.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2014_drop_invalid = water2014.loc[water2014['geometry'].is_valid, :]

In [ ]:
for i in water2014_drop_invalid.is_valid:
    if i == False:
        print("poly is false")

In [ ]:
water2014_drop_invalid

In [ ]:
water2018_clip = gpd.clip(water2018_drop_invalid, metro_dissolve)

In [ ]:
water2018_clip.head()

In [ ]:
water2016_clip = gpd.clip(water2016_drop_invalid, metro_dissolve)

In [ ]:
water2016_clip.head()

In [ ]:
water2014_proj = water2014_drop_invalid.to_crs('EPSG:26915')

In [ ]:
water2014_clip = gpd.clip(water2014_proj, metro_dissolve)

In [ ]:
water2014_clip.head()

# Load water 2020 data csv

In [ ]:
water2020 = gpd.read_file("wq-iw1-65.csv")

In [ ]:
for col in water2020.columns:
    print(col)

In [ ]:
water2020 = water2020[["Water body name", "AUID", "Water body type", "geometry"]]

In [ ]:
water2020_lake = water2020.loc[(water2020["Water body type"] == "Lake")]

In [ ]:
water2020_lake = water2020_lake[["Water body name", "AUID", "geometry"]]

In [ ]:
# Renaming the columns to match the two other datasets
water2020_lake = water2020_lake.rename(columns = {"Water body name" : "NAME"})

water2020_lake

# Trying to remove duplicates

In [ ]:
#join test2 to water2018
# output 1946 rows...there are duplicates...???
jointest = test2.merge(water2018, on = "AUID")

jointest

In [ ]:
test3 = test2.groupby("AUID", as_index = False)["Pollutant or stressor"].apply(";".join)
test3

In [ ]:
#join test3 back to test2

test4 = test2.merge(test3, how = "inner", on = "AUID")
test4

In [ ]:
# Loading the draft 2020 impaired water list
water2020 = gpd.read_file("wq-iw1-65.csv")

# retreiving all the column names
for col in water2020.columns:
    print(col)

# Sampling the data, to get a look at what we are dealing with
water2020.head()

# Selecting out the columns we want to keep
water2020 = water2020[["Water body name", "AUID", "Water body type", "Use Class", "Pollutant or stressor", "geometry"]]
water2020.head()

# Selecting out only the lake features to keep in line with the 3 other shapefiles we are already working with
water2020_lake = water2020.loc[(test["Water body type"] == "Lake")]

# Removing duplicate records --> grouping by AUID, and joining the polluatant or stressor field with ";" when they differ
# for the repeated AUID. This happens because a lake can have more than one stressor to get on the impaired water list.
water2020_remove_duplicates = water2020_lake.groupby("AUID", as_index = False)["Pollutant or stressor"].apply(";".join)
water2020_remove_duplicates

# Failed attempt to join the other needed columns back to the dataset after removing the duplicates
jointest1 = water2020_remove_duplicates.merge(water2020_lake, how = "inner", on = "AUID")
jointest1

# Attempt to get geometry for the 2020 dataset from the 2018 dataset
# Have not figured out the best way to do this yet. 
jointest2 = water2020_remove_duplicates.merge(water2018, on = "AUID")
jointest2

# Load blockgroup data and intersecting it with the water data

In [ ]:
blockgroups_df = gpd.read_file('zip://tl_2019_27_bg.zip')
print(f'Loaded {len(blockgroups_df):,} block groups')

In [ ]:
blockgroups_df.plot()

In [ ]:
print(blockgroups_df.crs)
print(water2018.crs)

In [ ]:
bg_proj = blockgroups_df.to_crs('EPSG:26915')
bg_proj.plot()

In [ ]:
water2018_intersect_bg_proj = gpd.overlay(water2018, bg_proj, how='intersection')
water2018_intersect_bg_proj.plot()
water2018_intersect_bg_proj.head()

In [ ]:
### Code Review Comments ###
# add columns and then remove duplicates again
# find lakes that have been added/removed, and look at the traffic at that spot now
# Smaller scale? Just one city
# function for selecting data with block groups

In [13]:
'''
Author: Nicole Dunn

This python script purpose is to clean spatial data files that will be used in 
future analysis. Cleaning the data includes removing fields that are not needed, 
removing invalid geometries from the geodataframes, adding geometery where there 
is none, and clipping all the data to the 7 county metro as the area of interest.
'''

import pandas as pd
import geopandas as gpd

# Loading all shapefile datasets in as geopandas dataframes
hydrography = gpd.read_file("zip://shp_water_dnr_hydrography.zip")
water2018 = gpd.read_file("zip://impaired_2018_lakes.zip")
water2016 = gpd.read_file("zip://impaired_2016_lakes.zip")
water2014 = gpd.read_file("zip://impaired_2014_lakes.zip")
metro = gpd.read_file("zip://shp_bdry_metro_counties_and_ctus.zip")


# Cleaning the metro dataset, dissolving on the county name. 
metro_dissolve = metro.dissolve(by = "CO_NAME")

# There are many columns in this dataset,
# this is to be able to see all of them to easily
# choose the ones we will keep
columns18 =[]
columns16 =[]
columns14 =[]

for col in water2018.columns:
    columns18.append(col)
    
for col in water2016.columns:
    columns16.append(col)
    
for col in water2014.columns:
    columns14.append(col)

# Dropping all the unnecessary columns
water2018 = water2018.drop(["CAT", "CAT_DESC", "REACH_DESC", "USE_CLASS", "AFFECTED_U", "LIKE_MEET", 
                            "NON_POLL", "NAT_BACK", "ADD_MON", "APPROVED", "NEEDS_PLN", "IMP_PARAM", "NEW_IMPAIR", 
                            "HUC_8", "HUC_8_NAME", "HUC_4", "BASIN", "TRIBAL_INT", "INDIAN_RES", "AMMONIA", "CHLORIDE", 
                            "FISHESBIO", "HG_F", "HG_W", "NUTRIENTS", "PCB_F", "PFOS_F", "Shape_Leng", "Shape_Area"], axis = 1)

water2016 = water2016.drop(["CAT", "DATASET_NA", "REACH_DESC", "USE_CLASS", "AFFECTED_U", "TMDL_NOT_R", 
                            "TMDL_NOT_1", "IMPAIR_PAR", "IMPAIR_P_1", "NEW_IMPAIR", "NEW_IMPA_1", "TMDL_APPRO", "TMDL_APP_1", 
                            "TMDL_NEEDE", "TMDL_NEE_1", "HUC_8", "HUC_8_NAME", "HUC_4", "BASIN", "TRIBAL_INT", "INDIAN_RES", 
                            "CHLORIDE", "FISHESBIO", "HG_F", "HG_W", "NUTRIENTS", "PCB_F", "PFOS_F", "SHAPE_Leng", "SHAPE_Area"], axis = 1)

water2014 = water2014.drop(["LOCATION", "CAT", "AFFECTED_U", "NOPLN", "APPROVED", "NEEDSPLN", "IMPAIR_PAR", 
                            "NEW_2014", "HUC8", "HUC8_NAME", "HUC4", "BASIN", "WDWMO_NAME", "WDWMO_TYPE", "Chloride", 
                            "HgF", "HgW", "Nutrients", "PCBF", "PFOS_W", "SHAPE_Leng", "Shape_Le_1", "Shape_Area"], axis = 1)

# Renaming the columns to match the two other datasets
water2014 = water2014.rename(columns = {"WATER_NAME" : "NAME", "ALL_COUNTI" : "COUNTY", "ACRES" : "AERA_ACRES"})


# Locate all invalid gometries and drop them from the dataset
water2018_drop_invalid = water2018.loc[water2018['geometry'].is_valid, :]

water2016_drop_invalid = water2016.loc[water2016['geometry'].is_valid, :]

water2014_drop_invalid = water2014.loc[water2014['geometry'].is_valid, :]


# Clipping the three impaired water files to the 7 county metro
water2018_clip = gpd.clip(water2018_drop_invalid, metro_dissolve)
water2016_clip = gpd.clip(water2016_drop_invalid, metro_dissolve)

# 2014 needed to be reprojected - then clip was performed
water2014_proj = water2014_drop_invalid.to_crs('EPSG:26915')
water2014_clip = gpd.clip(water2014_proj, metro_dissolve)


# Locate all invalid gometries and drop them from the dataset
hydro_drop_invalid = hydrography.loc[hydrography['geometry'].is_valid, :]

# Clipping hydro to the 7 county metro
hydro_clip = gpd.clip(hydro_drop_invalid, metro_dissolve)

# Narrowing down the number of features in the hydro layer to only lakes and ponds
hydro_lake = hydro_clip.loc[hydro_clip["wb_class"] == "Lake or Pond"]


# Load water 2020 data csv, selecting out the columns that we want and addinga geometry column
# and pulling out only the lake features.
water2020 = gpd.read_file("wq-iw1-65.csv")
water2020 = water2020[["Water body name", "AUID", "County", "Water body type", "geometry"]]
water2020_lake = water2020.loc[(water2020["Water body type"] == "Lake")]

# Dropping the "water body type" field since it is no longer needed
water2020_lake = water2020_lake[["AUID", "Water body name", "County", "geometry"]]

# Renaming the columns to match the two other datasets
water2020_lake = water2020_lake.rename(columns = {"Water body name" : "NAME", "County" : "COUNTY"})

In [14]:
water2020_lake.head()

          AUID                 NAME    COUNTY geometry
0   24-0014-00           Albert Lea  Freeborn     None
6   24-0028-00                 Bear  Freeborn     None
47  50-0002-00            East Side     Mower     None
48  24-0018-01  Fountain (East Bay)  Freeborn     None
49  24-0018-01  Fountain (East Bay)  Freeborn     None

In [15]:
hydro_lake.head()

,fw_id,dowlknum,pw_basin_n,pw_parent_,pw_sub_nam,sub_flag,wb_class,lake_class,acres,shore_mi,...,ow_use,pwi_class,map_displa,map_label,shape_Leng,shape_Area,INSIDE_X,INSIDE_Y,in_lakefin,geometry
11010,0,None,None,None,None,None,Lake or Pond,0,0.222883,0.073315,...,Y,None,N,None,117.988513,901.974108,496237.797808,4.939675e+06,N,"POLYGON ((496245.416 4939651.635, 496236.136 4..."
11011,17306,19046600,Red Fish Pond,Red Fish Pond,None,N,Lake or Pond,0,0.301819,0.101540,...,Y,None,Y,Red Fish Pond,163.412466,1221.417383,483662.966548,4.931448e+06,N,"POLYGON ((483663.086 4931478.403, 483667.590 4..."
11029,0,None,None,None,None,None,Lake or Pond,0,0.383863,0.092450,...,Y,None,N,None,148.784838,1553.437310,478402.806858,4.939105e+06,N,"POLYGON ((478374.781 4939101.478, 478375.441 4..."
11036,0,None,None,None,None,None,Lake or Pond,0,0.203902,0.064874,...,Y,None,N,None,104.404919,825.160361,502495.696167,4.940100e+06,N,"POLYGON ((502501.062 4940083.279, 502489.412 4..."
11048,0,None,None,None,None,None,Lake or Pond,0,0.283464,0.089336,...,Y,None,N,None,143.772914,1147.136304,483244.752847,4.935480e+06,N,"POLYGON ((483236.733 4935496.847, 483245.873 4..."

In [16]:
water2014_clip.head()

,NAME,AERA_ACRES,AUID,COUNTY,geometry
35,Otter,295.160279,02-0003-00,Anoka; Ramsey,"MULTIPOLYGON (((497666.112 4994761.469, 497654..."
36,Peltier,564.573433,02-0004-00,Anoka,"POLYGON ((495700.177 5003726.032, 495689.718 5..."
37,George Watch,470.031037,02-0005-00,Anoka,"MULTIPOLYGON (((493101.839 5000098.655, 493093..."
38,Centerville,460.197759,02-0006-00,Anoka,"MULTIPOLYGON (((494888.448 5000312.082, 494878..."
39,Marshan,191.937616,02-0007-00,Anoka,"POLYGON ((491690.482 5001516.469, 491680.050 5..."

In [17]:
water2016_clip.head()

,AUID,NAME,AREA_ACRES,COUNTY,geometry
38,02-0003-00,Otter,279.813,Anoka,"MULTIPOLYGON (((496603.986 4997314.787, 496616..."
39,02-0004-00,Peltier,564.573,Anoka,"POLYGON ((495700.177 5003726.032, 495689.718 5..."
40,02-0005-00,George Watch,462.078,Anoka,"POLYGON ((492926.894 5001250.746, 492931.117 5..."
41,02-0006-00,Centerville,459.840,Anoka,"POLYGON ((493777.874 5000502.822, 493771.787 5..."
42,02-0007-00,Marshan,191.938,Anoka,"POLYGON ((491690.482 5001516.469, 491680.050 5..."

In [18]:
water2018_clip.head()

,AUID,NAME,AREA_ACRES,COUNTY,geometry
40,02-0003-00,Otter,279.813,Anoka,"MULTIPOLYGON (((496603.986 4997314.787, 496616..."
41,02-0004-00,Peltier,564.573,Anoka,"POLYGON ((496349.373 5005352.962, 496340.869 5..."
42,02-0005-00,George Watch,462.078,Anoka,"POLYGON ((493356.038 5002772.700, 493364.622 5..."
43,02-0006-00,Centerville,459.840,Anoka,"POLYGON ((494607.558 5001795.936, 494621.581 5..."
44,02-0007-00,Marshan,191.938,Anoka,"POLYGON ((491705.038 5002279.755, 491721.403 5..."